/* 设置标签栏的样式 */
.tag-bar {
    border-radius: 14px;
    background-color: rgb(255, 108, 108); /* 背景色设置为灰色 */
  }

  .tag-cloud-list a {
    background-color: rgb(210, 210, 210); /* 背景色设置灰色 */
  }  
  /* 设置标签云列表中链接的样式 */
  .tag-cloud-list a {
    border-radius: 12px; /* 边框圆角为12px */
    transition: background-color 0.3s; /* 添加背景色的过渡效果，时长为0.3秒 */
  }
  
  /* 鼠标悬浮在标签云链接上的样式 */
  .tag-cloud-list a:hover {
    background-color:#1fc7b6; /* 背景色变为绿色 */
  }
  
  /* 设置标签云标题的样式 */
  .tag-cloud-title {
    font-weight: bold; /* 设置字体粗细为加粗 */
  }
  .tag-cloud-list a {
    border-radius: 12px;
    transition: background-color 0.3s;
    margin-right: 12px; /* 添加右侧的间距 */
  }
    
#footer-wrap a,#nav .site-page,#notice,#pagination .page-number:not(.current),#stickyList .swiper-slide,.card-ad-ymts,.card-cheesy_pick-up_lines,.card-webinfo,.recent-post-item:not(:first-child),.swiper-pagination-bullet,a,button {
    cursor: url(https://npm.elemecdn.com/hassan-assets/img/cursor_puppy.png),pointer!important
}

a.article-meta__tags {
  background-color: #7b7b7b; /* 设置标签的背景色 */
  color: #fcfcfc !important; /* 设置标签文字颜色 */
  border-radius: 6px; /* 设置标签的圆角边框 */
  padding: 6px; /* 设置标签的内边距 */
  transition: background-color 0.3s; /* 设置过渡效果 */
}
a.article-meta__tags:hover {
  background-color: #1fc7b6; /* 设置鼠标悬停时的背景色 */
  text-decoration: none !important; /* 去除鼠标悬停时的下划线 */
}



.card-tag-cloud a {
  margin: 5px;/*间距*/
  background-color: rgba(233, 233, 233, 0.759);/*背景色*/
  /*color: #000000 !important;*/
  border-radius: 6px;/*元素的间距像素*/
}
.card-tag-cloud a:hover {
  background-color: #1fc7b6; /*鼠标悬浮背景颜色将变色*/
  color: #f90000 !important;
}





